{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="blocks" align="center" style="height:fit-content()">
    
    <table width="800px" height="900px">
        <tr>
            <td align="center">
                <a href="/info/ahmatova"><img src="\static\img\picAhmat.jpg" width="381" height="438" alt="Ахматова"></a>
            </td>
            <td align="center">
                <a href="/info/severyanin"><img src="\static\img\picSever.jpg" width="381" height="438" alt="Северянин"></a>
            </td>
        </tr>
        <tr>
            <td align="center" style="
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
">
                Обратила внимание на "душистый платок", "ни стоном, ни взглядом",
                "ночей наших пламенным чадом", "чудотворной иконой".
                Акварель, апрель 2021.
            </td>
            <td align="center" style="
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
">
                "Ты страдаешь одиноко, я страдаю перед всеми", "Мы не можем жить в разлуке, но не можем — и вдвоем" - эти слова
                были взяты за основу сюжетной линии.
                Акварель, апрель 2021.
            </td>
        </tr>

        <tr>
            <td align="center">
                <a href="/info/mayakovskiy"><img src="\static\img\picMayak.jpg" width="381" height="438" alt="Маяковский"></a>
            </td>
            <td align="center">
                <a href="/info/esenin"><img src="\static\img\picEsenin.jpg" width="381" height="438" alt="Есенин"></a>
            </td>
        </tr>
        <tr>
            <td align="center" style="
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
">
                "Вспомни — за этим окном впервые руки твои, исступленный, гладил", "Дай в последнем крике выреветь
                горечь обиженных жалоб", "Надо мною, кроме твоего взгляда, не властно лезвие ни одного ножа",
                "И суетных дней взметенный карнавал растреплет страницы моих книжек…", "Последней нежностью выстелить
                твой уходящий шаг" - то, в чем можно разглядеть обезумевшего Маяковского и сцену разлуки возлюбленных.
                Акварель, апрель 2021.
            </td>
            <td align="center" style="
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
">
                На картине изображено: "Не смотря в лицо, от страсти млеешь, мне на плечи руки опустив",
                "Расскажи мне, скольких ты ласкала? Сколько рук ты помнишь? Сколько губ?",
                "Как случайно встретился с тобою, улыбнусь, спокойно разойдясь",
                "Только негоревших не мани", "Кто сгорел, того не подожжешь."

                Акварель, апрель 2021.

            </td>
        </tr>

    </table>
    
</div>
{% endblock %}