{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="blocks">
    <div class="block8">
        <p class="card-text"><a href="gumilev">Гумилев</a></p>
        Один из основателей акмеизма.
    </div>
    <div class="block9">
        <p class="card-text"><a href="ahmatova">Ахматова</a></p>
       Сопереживающий национальный поэт.
    </div>
    <div class="block10">
        <p class="card-text"><a href="pasternak">Пастернак</a></p>
        Не подчинен теории футуристов, кроме того - выдающийся мастер перевода.
    </div>
    <div class="block11">
        <p class="card-text"><a href="esenin">Есенин</a></p>
        Тончайший лирик и волшебник пейзажа.
    </div>
    <div class="block12">
        <p class="card-text"><a href="severyanin">Северянин</a></p>
        Салонный поэт.
    </div>
    <div class="block13">
        <p class="card-text"><a href="mayakovskiy">Маяковский</a></p>
        Один из лидеров русского авангардного искусства и кубофутуризма. 
    </div>


</div>
{% endblock %}