{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="blocks">
    <div class="block8">
        <p class="card-text"><a href="gumilev">Гумилев</a></p>
        Морозна ночь, все небо ясно;
        Светил небесных дивный хор
        Течет так тихо, так согласно…
        Татьяна на широкий двор
        В открытом платьице выходит,
        На месяц зеркало наводит;
        Но в темном зеркале одна
        Дрожит печальная лупа…
        Чу… снег хрустит… прохожий; дева
        К нему на цыпочках летит,
        И голосок ее звучит
        Нежней свирельного напева:
        Как ваше имя? Смотрит он
        И отвечает: Агафон.
    </div>
    <div class="block9">
        <p class="card-text"><a href="ahmatova">Ахматова</a></p>
        Морозна ночь, все небо ясно;
        Светил небесных дивный хор
        Течет так тихо, так согласно…
        Татьяна на широкий двор
        В открытом платьице выходит,
        На месяц зеркало наводит;
        Но в темном зеркале одна
        Дрожит печальная лупа…
        Чу… снег хрустит… прохожий; дева
        К нему на цыпочках летит,
        И голосок ее звучит
        Нежней свирельного напева:
        Как ваше имя? Смотрит он
        И отвечает: Агафон.
    </div>
    <div class="block10">
        <p class="card-text"><a href="pasternak">Пастернак</a></p>
        Морозна ночь, все небо ясно;
        Светил небесных дивный хор
        Течет так тихо, так согласно…
        Татьяна на широкий двор
        В открытом платьице выходит,
        На месяц зеркало наводит;
        Но в темном зеркале одна
        Дрожит печальная лупа…
        Чу… снег хрустит… прохожий; дева
        К нему на цыпочках летит,
        И голосок ее звучит
        Нежней свирельного напева:
        Как ваше имя? Смотрит он
        И отвечает: Агафон.
    </div>
    <div class="block11">
        <p class="card-text"><a href="esenin">Есенин</a></p>
        Морозна ночь, все небо ясно;
        Светил небесных дивный хор
        Течет так тихо, так согласно…
        Татьяна на широкий двор
        В открытом платьице выходит,
        На месяц зеркало наводит;
        Но в темном зеркале одна
        Дрожит печальная лупа…
        Чу… снег хрустит… прохожий; дева
        К нему на цыпочках летит,
        И голосок ее звучит
        Нежней свирельного напева:
        Как ваше имя? Смотрит он
        И отвечает: Агафон.
    </div>
    <div class="block12">
        <p class="card-text"><a href="severyanin">Северянин</a></p>
        Морозна ночь, все небо ясно;
        Светил небесных дивный хор
        Течет так тихо, так согласно…
        Татьяна на широкий двор
        В открытом платьице выходит,
        На месяц зеркало наводит;
        Но в темном зеркале одна
        Дрожит печальная лупа…
        Чу… снег хрустит… прохожий; дева
        К нему на цыпочках летит,
        И голосок ее звучит
        Нежней свирельного напева:
        Как ваше имя? Смотрит он
        И отвечает: Агафон.
    </div>
    <div class="block13">
        <p class="card-text"><a href="mayakovskiy">Маяковский</a></p>
        Морозна ночь, все небо ясно;
        Светил небесных дивный хор
        Течет так тихо, так согласно…
        Татьяна на широкий двор
        В открытом платьице выходит,
        На месяц зеркало наводит;
        Но в темном зеркале одна
        Дрожит печальная лупа…
        Чу… снег хрустит… прохожий; дева
        К нему на цыпочках летит,
        И голосок ее звучит
        Нежней свирельного напева:
        Как ваше имя? Смотрит он
        И отвечает: Агафон.
    </div>


</div>
{% endblock %}