{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center with-s">
                    <div class="card-body">
                        <h5 class="card-title">Контакты</h5>
                        <p class="card-text">Здесь вы можете ознакомиться с расположением нашего тех центра, почтой, телефонами управляющих лиц.</p>
                        <a href="/contact" class="btn btn-primary btn-tab">Узнать!</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center with-s">
                    <div class="card-body">
                        <h5 class="card-title">Личный кабинет</h5>
                        <p class="card-text">При зарегистрированном аккаунте (и что не мало важно - подтвержденном!) вы сможете заказать товары из нашего магазина.</p>
                        <a href="/login" class="btn btn-primary btn-tab">Авторизация!</a>
                        <a href="/registration" class="btn btn-primary btn-tab">Новый пользователь!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-center with-s">
                    <div class="card-body">
                        <h5 class="card-title">Наши товары</h5>
                        <p class="card-text">Тут имеются цены, количество и сроки доставки по адресу.</p>
                        <a href="/shop" class="btn btn-primary btn-tab">Приобрести!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}