{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


    <div class="blocks" >
        <div class="block1">
                Я, ученица десятого класса, решила отобразить
                результаты своего индивидуального проекта
                по теме "Экспериментальные направления поэзии
                Серебряного века в иллюстрациях" в виде
                информационного ресурса.
            <p>
                Проектная работа выполнена под руководством
                Петрунниковой Виктории Владимировны
            </p>
        </div>
        <div class="block2">
            Цель проекта: создать сайт
            для визуализации информации
            о взаимосвязи литературных течений
            с изобразительным искусством
            <p>Задачи:</p>
            <ul>
                <li>
                    Собрать информацию об
                    эпохе Серебряного века
                </li>
                <li>
                    Систематизировать полученные данные
                </li>
                <li>
                    Преобразовать текст в иллюстрации
                </li>
                <li>
                    Поместить выполненную работу на созданный сайт
                </li>
                <li>
                    Представить проект научному сообществу
                </li>
            </ul>
           
        </div>
        <div class="block3">
            Проблематика: Нам не хватает продуктов деятельности, 
            нацеленных на понимание большинством, а не частью общества
           
        </div>
        <div class="block4">
            <p>Ход работы: </p>
            <ul>
                <li>
                    Создан макет сайта
                </li>
                <li>
                    Разработан дизайн страниц
                </li>
                <li>
                    На основании пунктов 1) и 2) изготовлены шаблоны
                </li>
                <li>
                    Изучено творчество ярких представителей
                    Серебряного века в литературе с целью
                    классификации по группам на основе
                    преобладающих движений в творчестве
                </li>
                <li>
                    Результатом осмысления пункта 4)
                    явились нарисованные изображения
                    в авторской технике
                </li>
                <li>
                    Отладка функционала и диплоинг проекта
                    на ресурс pythonanywhere через github
                </li>
            </ul>
        </div>
        <div class="block5">
            Использованная литература:
            <ul>
                <li>
                    Поэзия Серебряного века. - Москва : Эксмо, 2019 - 672 с.
                </li>
                <li>
                    Владимир Маяковский. Малое собрание сочинений. - Санкт-Петербург : Азбука, 2014 - 672 с.
                </li>
                <li>
                    Head First C#, Third Edition. - Sebastopol : O'Reilly Media, 2013 - 816 c.
                </li>
                <li>
                    Python. Карманный справочник. - Sebastopol : O'Reilly Media, 2019 - 320 с.
                </li>     
            </ul>
        </div>
        <div class="block6">
           Выводы:
            Литературные течения могут быть воплощены не только в словах и рифмах, но и
            в виде холста, измалеванного красками. Потому что творчество отображает
            внутренний мир автора и его эмоции различными средствами
        </div>
        <div class="block7">
          При совмещении плодов искусства и современных технологий можно создать
            уникальный продукт, позволяющий взглянуть на уже знакомые вещи по-новому!
        </div>

    </div>

{% endblock %}
